# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jonas\OneDrive - NTNU\Kybernetikk og Robotikk\Numerical Optimal Control\Scripts\System_Identification\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
